.card {
  display: flex;
  gap: 2rem;
  width: 35.5rem;
  height: 20.5rem;
}
img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}
.card__info > * {
  margin-bottom: 1rem;
}
.card-location {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  margin-bottom: 1rem;
}
