body,
* {
  margin: 0;
  padding: 0;
  cursor: default;
}
.cards {
  margin: 4rem 2rem;
}

/* Desktop Screen */
@media screen and (min-device-width: 700px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
